// body

body {
    margin: 0%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #e9eaee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

// header

.header {
    height: 90px;
    background-color: #1c2031;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: start;

    &__search {
        background-color: transparent;
        border-bottom: 2px solid #e9eaee;
        height: 40px;
        width: 300px;
        margin-left: 700px;
        padding-top: 10px;

        &--input {
            width: 85%;
            background-color: transparent;
            border-color: transparent;
            outline: none;
            color: white;

            &::placeholder {
                color: #e9eaee;
                font-size: large;
            }
        }

        &--icon {
            color: #e9eaee;
            font-size: x-large;
        }
    }

    &__heartIcon {
        color: red;
        font-size: xx-large;
        margin-left: 200px;
    }

    &__shoppingIcon {
        color: #e9eaee;
        font-size: xx-large;
        margin-left: 20px;

        &--number {
            width: 15px;
            height: 23px;
            border-radius: 50%;
            background-color: #a8db34;
            color: white;
            position: absolute;
            right: 175px;
            top: 50px;
            padding-left: 8px;
        }
    }

    &__userIcon {
        color: #e9eaee;
        font-size: xx-large;
        margin-left: 30px;
    }

    &__homeIcon {
        color: #e9eaee;
        font-size: xx-large;
        margin-left: 30px;
        margin-right: 60px;
    }

    &__barsIcon {
        color: #e9eaee;
        font-size: xx-large;
        margin-left: 50px;
    }

}


// nav

.nav {
    position: absolute;
    background-color: #cae784;
    border-radius: 30px;
    width: 250px;
    height: 370px;
    top: 65px;
    left: 35px;
    display: none;
}

.navItem {
    color: #1c2031;
    font-style: italic;
    // border-bottom: 5px solid   #1c2031;
    padding: 0 20px 10px 20px;
    cursor: pointer;


}

.navi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

// section
.mainSection {
    margin: auto;
    width: 95%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;


    &__card {
        width: 300px;
        height: 570px;
        background-color: white;
        box-shadow: 15px 15px 15px rgb(198, 198, 198);
        border-radius: 25px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 20px;

        &--btn {
            border: none;
            background-color: #cae784;
            width: 180px;
            height: 40px;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: larger;
        }

        &--img {
            width: 90%;
            height: 350px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }

        &--title {
            width: 250px;
            margin-top: 20px;
        }

        &--price {
            font-weight: 900;
            margin-top: 20px;
            margin-left: -150px;
            color: red;
        }
    }
}



// single card

.singleSection {
    margin: 0px auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;


    &__card {
        width: 100%;
        height: 570px;
        background-color: white;
        box-shadow: 15px 15px 15px rgb(198, 198, 198);
        border-radius: 25px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 20px;

        &--btn {
            border: none;
            background-color: #cae784;
            width: 180px;
            height: 40px;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: larger;
            position: absolute;
            left: 80px;
            bottom: 60px;
        }

        &--img {
            width: 400;
            height: 350px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            position: absolute;
            right: 80px;
            top: 250px;
        }

        &--title {
            position: absolute;
            left: 100px;
            top: 180px;
        }

        &--description {
            height: 200px;
            width: 500px;
            overflow-y: scroll;
            line-height: 30px;
           margin-left: -760px;
        }

        &--price {
            font-weight: 900;
            color: red;
            position: absolute;
            left: 90px;
            bottom: 115px;
        }
    }
}