body{
    height: 100vh;
    margin: 0;
    background-image:url(./images/azadi.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 500px;
    width: 450px;
    background-color: rgba(47, 46, 46, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    font-size: larger;
}

input{
    border-color: transparent;
    outline: none;
}